# Panel - single panel operations (navigation, sorting, selection, view)
[Panel]
keys = [
    { key = "Ctrl+Tab",            handler = "none" },
    { key = "Ctrl+Shift+Backtab",  handler = "none" },

    { key = "Left",                handler = "doFocusCommandLine" },
    { key = "Right",               handler = "doFocusCommandLine" },

    { key = "Tab",                 handler = "doSwitchSide" },
    { key = "Escape",              handler = "doCancelOperation" },

    { key = "Down",                handler = "default" },
    { key = "Up",                  handler = "default" },

    { key = "Ctrl+Down",           handler = "doJumpDownToFiles" },
    { key = "Ctrl+Up",             handler = "doJumpUpToDirectories" },

    { key = "F3",                  handler = "doView" },
    { key = "F4",                  handler = "doEdit" },
    { key = "Shift+F4",            handler = "doEditNew" },

    { key = "Space",               handler = "doToggleMarkTotalSize" },
    { key = "Alt+Shift+Return",    handler = "doTotalSizes" },

    { key = "Insert",              handler = "doToggleMarkDown" },

    { key = "Ctrl+F3",             handler = "doSortByName" },
    { key = "Ctrl+F4",             handler = "doSortByExt" },
    { key = "Ctrl+F5",             handler = "doSortByDate" },
    { key = "Ctrl+F6",             handler = "doSortBySize" },

    { key = "F7",                  handler = "doMakeDirectory" },

    { key = "F8",                  handler = "doDeleteToTrash" },
    { key = "Delete",              handler = "doDeleteToTrash" },

    { key = "Shift+F8",            handler = "doDeletePermanently" },
    { key = "Shift+Delete",        handler = "doDeletePermanently" },

    { key = "Home",                handler = "doGoToFirstRow" },
    { key = "End",                 handler = "doGoToLastRow" },

    { key = "PageUp",              handler = "default" },
    { key = "PageDown",            handler = "default" },

    { key = "Ctrl+PageUp",         handler = "doDirUp" },

    { key = "Ctrl+S",              handler = "doLocalSearch" },
    { key = "LETTERS",             handler = "doLocalSearch" },
    { key = "DIGITS",              handler = "doLocalSearch" },

    { key = "Alt+Return",           handler = "doFileProperties" },

    { key = "Ctrl+A",              handler = "doSelectAll" },
    { key = "Ctrl+L",              handler = "doOccupiedSpace" },

    { key = "Num+Plus",            handler = "doSelectGroup" },
    { key = "Num+Minus",           handler = "doUnselectGroup" },
    { key = "Ctrl+Num+Plus",       handler = "doSelectAll" },
    { key = "Ctrl+Num+Minus",      handler = "doUnselectAll" },
    { key = "Num+Asterisk",        handler = "doInvertSelection" },
    { key = "Alt+Num+Asterisk",    handler = "doSelectSameExtension" },
    { key = "Num+Slash",           handler = "doRestoreSelection" },

    { key = "Alt+F10",             handler = "doCDTree" },

    { key = "Alt+Left",            handler = "doGoBack" },
    { key = "Alt+Right",           handler = "doGoForward" },

    { key = "Ctrl+B",              handler = "doBranchViewWithSubdirs" },

    { key = "Ctrl+Q",              handler = "doQuickView" },

    { key = "Ctrl+R",              handler = "doRefresh" },
]

[SearchDialog]
keys = [
{ key = "F3",                  handler = "doView" },
{ key = "F4",                  handler = "doEdit" },
]

# MainFrame - dual panel operations (Tab switches panels)
[MainFrame]
keys = [
    { key = "Ctrl+T",              handler = "doAddTab" },
    { key = "Ctrl+W",              handler = "doRemoveTab" },

    { key = "Return",                 handler = "doActivate" },

    # Special case: Shift+Tab only blocks the default behavior of QTableView
    { key = "Shift+Tab",           handler = "none" },

    { key = "Ctrl+P",              handler = "doCurrentDirToCommandLine" },
    { key = "Ctrl+Return",         handler = "doCurrentNameToCommandLine" },
    { key = "Ctrl+Shift+Return",   handler = "doCurrentPathToCommandLine" },

    { key = "Ctrl+D",              handler = "doDirHotlist" },
    { key = "Ctrl+Shift+D",        handler = "doDirHotlistConfig" },

    { key = "F5",                  handler = "doCopy" },
    { key = "Shift+F5",            handler = "doCopyInPlace" },

    { key = "F6",                  handler = "doMove" },
    { key = "Shift+F6",            handler = "doMoveInPlace" },

    { key = "Shift+F7",            handler = "doMakeDirectoryOpposite" },

    { key = "Alt+F5",              handler = "doPackFiles" },
    { key = "Alt+F9",              handler = "doExtractFiles" },
    { key = "Alt+Shift+F9",        handler = "doTestArchives" },

    { key = "Shift+F2",            handler = "doCompareDirectories" },

    { key = "Alt+F7",              handler = "doSearchGlobal" },

    { key = "Ctrl+U",              handler = "doSwapPanels" },
]

# CommandLine - command bar at the bottom
[CommandLine]
keys = [
    { key = "Escape",              handler = "doClearAndReturnToPanel" },
    { key = "Up",                  handler = "doReturnToPanel" },
    { key = "Down",                handler = "doReturnToPanel" },
    { key = "Tab",                 handler = "doReturnToPanel" },
    { key = "Left",                handler = "default" },
    { key = "Right",               handler = "default" },
]

# SearchEdit - local search filter
[SearchEdit]
keys = [
    { key = "Escape",              handler = "doReturnToPanel" },
    { key = "LETTERS",             handler = "default" },
    { key = "DIGITS",              handler = "default" },
    { key = "Up",                  handler = "doPrevMatch" },
    { key = "PageUp",              handler = "doPrevMatch" },
    { key = "Down",                handler = "doNextMatch" },
    { key = "PageDown",            handler = "doNextMatch" },
    { key = "Return",              handler = "doAccept" },
]

# PathEdit - path edit field in FilePaneWidget
[PathEdit]
keys = [
    { key = "Escape",              handler = "doRestoreAndReturnToPanel" },
    { key = "Return",              handler = "doNavigateOrRestore" },
]

[Editor]
keys = [
    { key = "Ctrl+Tab",            handler = "noneWithChildren" },
]